.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
    @include custom-button-radius;
    &-title {
        position: relative;
        text-transform: uppercase;
        img {
            width: 100%;
        }
        a {
            &[role=button] {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                height: 36px;
                color: $default-font-color;
                background: rgba(255, 255, 255, 0.9);
                box-shadow: 0px 10px 30px rgba(113, 123, 133, 0.05);
                border-radius: 4px;
                text-transform: uppercase;
                @include custom-all-transition;
                &.edit {
                    width: 132px;
                    &:before {
                        content: "";
                        display: block;
                        width: 16px;
                        height: 16px;
                        margin-right: 10px;
                        background-image: url(../images/icons/edit.svg);
                        background-repeat: no-repeat;
                        background-position: center center;
                        @include custom-all-transition;
                    }
                }
                &.more {
                    width: 36px;
                }
                &:hover {
                    background-color: rgba(255, 255, 255, 1);
                    text-decoration: none;
                    &:before {
                        filter: invert(25%) sepia(73%) saturate(2374%) hue-rotate(181deg) brightness(97%) contrast(98%);
                    }
                }
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &-text {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .profile-photo {
            margin-top: -30px;
        }
        h2 {
            font-size: 18px;
            font-weight: 700;
        }
        .location {
            display: grid;
            grid-template-columns: repeat(2,auto);
            grid-gap: 10px;
            font-size: $default-font-size;
            line-height: 16px;
            &:before {
                content: "";
                display: block;
                width: 13px;
                height: 13px;
                background-image: url(../images/icons/navigation.svg);
                background-repeat: no-repeat;
            }
        }
        p {
            font-size: 14px;
            line-height: 21px;
            font-weight: 300;
            padding-right: 17px;
        }
    }
    &.splitted-content-card {
        align-items: start;
        padding: 30px 30px 0 30px;
        .card-title {
            font-size: 18px;
            line-height: 18px;
            font-weight: 700;
            text-transform: none;
        }
        .card-text {
            align-items: flex-start;
            padding: 25px 0;
            .content {
                margin-left: 15px;
                .title {
                    font-size: 14px;
                    line-height: 14px;
                    font-weight: 700;
                }
                .sub-title {
                    font-size: 10px;
                    line-height: 15px;
                    font-weight: 500;
                    span {
                        padding-left: 10px;
                        font-weight: 300;
                    }
                }
                p {
                    font-size: 10px;
                    line-height: 15px;
                    font-weight: 500;
                }
            }
            .id-card {
                width: 250px;
                height: 80px;
                padding: 15px 20px;
                @include custom-border-all;
                border-radius: 6px;
                .title {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    font-size: 14px;
                    line-height: 21px;
                    font-weight: 700;
                }
                ul.img-list {
                    display: flex;
                    flex-direction: row;
                    margin-top: 5px;
                    li {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        width: 24px;
                        height: 24px;
                        margin-left: -6px;
                        border-radius: 100%;
                        @include custom-button-gradient;
                        color: #fff;
                        font-weight: 700;
                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}