.container-fluid {
    width: 100%;
}
.container-xl {
    width: $container-xl-width;
}
.container-md {
    width: $container-md-width;
}

.container-grid-full {
    &-1 {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    &-3 {
        display: grid;
        width: 100%;
        grid-template-columns: auto $container-xl-width auto;
    }
}

.container-grid-custom-2 {
    display: grid;
    grid-template-columns: $container-md-width $sidebar-xl-width;
    grid-gap: 40px;
    width: $container-xl-width;
}


//auto grid
.auto-grid-3 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 100%;
}

//flex
.d-flex {
    display: flex;
}
.flex-row {
   flex-direction: row; 
}
.flex-column {
   flex-direction: column; 
}
.d-align-center {
   align-items: center; 
}
.d-align-start {
   align-items: flex-end; 
}
.d-align-end {
   align-items: flex-end; 
} 
.justify-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}