.container-fluid {
    width: 100%;
}
.container-xl {
    width: $container-xl-width;
}
.container-md {
    width: $container-md-width;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.container-grid-full {
    &-1 {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    &-3 {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr $container-xl-width 1fr;
    }
}

.container-grid-custom-2 {
    display: grid;
    grid-template-columns: $container-md-width auto;
    grid-gap: 40px;
    width: $container-xl-width;
}
.no-grid-gap {
    grid-gap: 0;
}


//auto grid
.auto-grid-3 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 100%;
}

//flex
.d-flex {
    display: flex !important;
}
.flex-row {
   flex-direction: row !important; 
}
.flex-column {
   flex-direction: column !important; 
}
.d-align-center {
   align-items: center !important; 
}
.d-align-start {
   align-items: flex-start !important; 
}
.d-align-end {
   align-items: flex-end !important; 
} 
.justify-between {
    justify-content: space-between !important;
}
.justify-center {
    justify-content: center !important;
}
.justify-start {
    justify-content: flex-start !important;
}
