.badge {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 35px;
    top: 12px;
    background: linear-gradient(215.49deg, #FFB75E 5.4%, #ED8F03 93.45%);
    border-radius: 50%;
    font-size: 9px;
    line-height: 16px;
    text-align: center;
    color: #fff;
}