body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: $regular-font-family;
    font-size: $default-font-size;
    line-height: 1em;
    color: $default-font-color;
    background-color: #f7f9fb;
    a, a:hover, a:visited{
       color: $default-font-color;
       text-decoration: none; 
       &:hover {
           color: $default-active-font-color;
       }
    }
    ::placeholder {
        color: $default-passive-font-color;
    }
}