//Margin
@include list-loop('.m-t-', 'margin-top');
@include list-loop('.m-r-', 'margin-right');
@include list-loop('.m-b-', 'margin-bottom');
@include list-loop('.m-l-', 'margin-left');
@include list-loop('.m-x-', 'margin');

//Padding
@include list-loop('.p-t-', 'padding-top');
@include list-loop('.p-r-', 'padding-right');
@include list-loop('.p-b-', 'padding-bottom');
@include list-loop('.p-l-', 'padding-left');
@include list-loop('.p-x-', 'padding');

//position
@include list-loop('.t-', 'top');
@include list-loop('.r-', 'right');
@include list-loop('.b-', 'bottom');
@include list-loop('.l-', 'left');


//Align
.align-center {
    text-align: center;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}

//position
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}