$max: 50;
$offset: 5;
$unit: 'px'; 
@mixin list-loop($className, $styleName) {
  $i: 0;
  @while $i <= $max {
    #{$className + $i} { 
      #{$styleName}: #{$i + $unit} !important;
    }
    $i: $i + $offset;
  }
}

//transition
@mixin custom-all-transition {
  transition: all .5s ease-in;
}
//item-box
@mixin custom-item-icon {
    width: 24px;
    height: 24px;
    margin-bottom: 9px;
}
@mixin custom-item-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 2px transparent;
    padding: 18px 37px 15px 28px;
    text-transform: uppercase;
    @include custom-all-transition;
    font-weight: 700;
    img {
      @include custom-all-transition;
      @include custom-item-icon;
    }
    &:hover  {
      border-bottom-color: $active-border-color;
      img {
        filter: invert(25%) sepia(73%) saturate(2374%) hue-rotate(181deg) brightness(97%) contrast(98%);
      }
    }
}


//custom border
$align-list: 'top', 'right', 'bottom', 'left';
@mixin custom-border-all {
  border: 1px solid $passive-border-color;
}
@mixin custom-border-top {
  border-top: 1px solid $passive-border-color;
}
@mixin custom-border-right {
  border-right: 1px solid $passive-border-color;
}
@mixin custom-border-bottom {
  border-bottom: 1px solid $passive-border-color;
}
@mixin custom-border-left {
  border-left: 1px solid $passive-border-color;
}

@each $align in $align-list {
  .custom-border-#{$align} {
    border-#{$align}:  1px solid $passive-border-color;
  }
}

//custom button 
@mixin custom-button-gradient {
  background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
}

@mixin custom-button-radius {
  border-radius: 4px;
}