$container-xl-width: 1180px;
$container-md-width: 850px;
$container-sm-width: 650px;

$sidebar-xl-width: 290px;
$sidebar-md-width: 200px;

$custom-grid-x-space: 40px;
$custom-grid-y-space: 30px;

$regular-font-family: 'Gotham', Arial;

//default menu
$default-font-size: 12px;
$top-font-size: 12px;


//sections

$section-font-size-title: 18px;
$section-font-size-text: 14px;

//colors
$default-font-color: #181818;
$default-passive-font-color: #CECECE;
$default-active-font-color: #0275B1;

$sidebar-color: #FCFDFD;

//border colors
$active-border-color: #0275B1;
$passive-border-color: #F4F4F4;

$primary: #0275B1;
$gray: #747474; 
$green: #02B033; 

//media
$media-xl: 1400px;

//border
$default-border-radius: 4px;


//media
$media-md-size: 1336px;