$container-xl-width: 1181px;
$container-md-width: 850px;

$sidebar-xl-width: 290px;

$custom-grid-x-space: 40px;
$custom-grid-y-space: 30px;

$regular-font-family: 'Gotham', Arial;

//default menu
$top-font-size: 12px;


//sections

$section-font-size-title: 18px;
$section-font-size-text: 14px;

//colors
$default-font-color: '#181818';
$default-passive-font-color: '#CECECE';

$primary: #0275B1;

//media
$media-xl: 1400px;

